body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    text-align: center;
}

.container {
    margin-top: 15%;
}

h1 {
    font-size: 40px;
}

.box {
    margin-top: 30px;
    padding: 20px;
    background: white;
    color: black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}

span {
    color: green;
    font-weight: bold;
}
